<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Add a New Sighting!</h1>
  <a href="/sightings">Back to sightings</a>
  <a href="/logout">Logout</a>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
  {% endif %}
  {% endwith %}
<br><br>
<form action="/sightings/create" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title">
    <br><br>
    <label for="description">Description:</label>
    <textarea  type="text" name="description">
    </textarea>
    
    <br><br>
    <label for="location">Location:</label>
    <input type="text" name="location">
    <br><br>

    <label for="date_seen">Date of Sighting:</label>
    <input type="date" name="date_seen">

    <br><br>
    <fieldset>
      <legend>Were you abducted?</legend>
      <label for="yes">Yes</label>
    <input type="radio" name="abducted" value="yes">

    <label for="no">No</label>
    <input type="radio" name="abducted" value="no" checked>
    </fieldset>
    <br><br>
    <button>Submit</button>
</form>

</body>
</html>